#about{
    position: relative;
    right: 0;
}
#recent{
    position: relative;
    right: 0;
}
#projects{
    position: relative;
    left: 0;
}

#recent , #projects{
    animation: startFromLeft  500ms ease-out;
}
#about{
    animation: startFromRight  500ms ease-out;
}

@keyframes startFromLeft {
    0%{
        position: relative;
        left: 102vw;
    }
    100%{
        position: relative;
        left: 0;
    }
}

@keyframes startFromRight {
    0%{
        position: relative;
        right: 102vw;
    }
    100%{
        position: relative;
        right: 0;
    }
}